<div class="board-creator-steps" *ngIf="state">
  <div class="board-creator-steps__header">
    <mat-progress-bar
      class="board-creator-steps__progress-bar"
      mode="determinate"
      [value]="progressPercentage"
      color="accent"
    ></mat-progress-bar>
    <div class="board-creator-steps__logo-container">
      <img
        class="board-creator-steps__logo"
        alt="loboards logo"
        ngSrc="assets/small-logo.jpeg"
        width="187"
        height="60"
      />
    </div>
  </div>
  <div class="board-creator-steps__body" [class]="enterAnimationClass">
    <board-design-step
      *ngIf="state.isBoardDesignState"
      [state]="state"
    ></board-design-step>
    <position-creation-step
      *ngIf="state.isPositionCreationState"
      [model]="state.model"
    ></position-creation-step>
    <game-classification-step
      *ngIf="state.isGameClassificationState"
      [model]="state.model"
    ></game-classification-step>
    <success-step
      *ngIf="state.isSuccessState"
      [model]="state.model"
    ></success-step>
  </div>

  <div class="board-creator-steps__actions">
    <button mat-raised-button (click)="onReject()">Voltar</button>
    <button
      mat-raised-button
      color="accent"
      (click)="onConfirm()"
      [disabled]="!isConfirmEnabled"
    >
      {{ confirmMessage }}
    </button>
  </div>
</div>
