<div class="creator">
  <div class="creator__header">
    <mat-progress-bar
      class="creator__progress-bar"
      mode="determinate"
      value="50"
      color="accent"
    ></mat-progress-bar>
    <img
      class="creator__logo"
      alt="lobogames logo"
      [ngSrc]="logoUrl"
      width="250"
      height="80"
    />
  </div>
  <div class="creator__body"><span> Testing </span></div>

  <div class="creator__actions">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="accent">Accent</button>
  </div>
</div>
