<div
  class="game-classification-step"
  id="card-container"
  cdkDropList
  (cdkDropListDropped)="onCdkDropListDropped($event)"
  [ngStyle]="{
    cursor: isCursorGrabbing ? 'grabbing' : null
  }"
>
  <div class="game-classification-step__list-container">
    <mat-card
      *ngFor="let game of model.games; index as i"
      [id]="game.name"
      class="game-classification-step__game-card"
      cdkDrag
    >
      <mat-card
        class="game-classification-step__game-card"
        *cdkDragPlaceholder
      ></mat-card>
      <mat-icon
        (mousedown)="onCdkHandleClicked()"
        cdkDragHandle
        class="game-classification-step__game-card-move"
        >menu</mat-icon
      >

      <mat-form-field
        subscriptSizing="dynamic"
        class="game-classification-step__game-card-name-input"
      >
        <mat-label>Nome do jogo</mat-label>
        <input
          required
          matInput
          type="text"
          [(ngModel)]="game.name"
          minlength="2"
        />
        <mat-error class="game-classification-step__game-card-name-input--error"
          >Mínimo de dois caracteres</mat-error
        >
      </mat-form-field>

      <mat-icon
        class="game-classification-step__game-card-delete"
        (click)="onDeleteGameClicked(i)"
        >close</mat-icon
      >
    </mat-card>
  </div>
  <mat-card
    class="game-classification-step__add-button"
    (click)="onAddGameClicked()"
  >
    <mat-icon>add</mat-icon>
    <span>ADICIONAR NOVO JOGO</span>
  </mat-card>
</div>
