@use "../../../styles/colors";

.home {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__image-container {
    flex: 2;
    display: flex;
    align-items: center;
    @media (max-width: 860px) {
      display: none;
    }
  }

  &__image {
    align-self: center;

    &-card {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-block: 1.5rem;
      width: 50.125rem;
      height: fit-content;
      background-color: rgba(colors.$primary, 0.13);
    }
  }

  &__options-container {
    display: flex;

    flex: 3;
    overflow-y: auto;

    margin-top: 2rem;
    row-gap: 2rem;
    column-gap: 4rem;

    @media (max-width: 860px) {
      width: 100%;
      align-items: center;
      padding-bottom: 2rem;
      flex-direction: column;
    }
  }

  &__option {
    display: flex;
    align-items: center;
    justify-content: center;

    max-height: 14rem;
    min-height: 14rem;
    max-width: 14rem;
    min-width: 14rem;

    border-radius: 2rem;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    .mat-icon {
      transform: scale(4.5);
    }

    span {
      font-size: 1.25rem;
      font-weight: 500;
      position: absolute;
      top: 80%;
    }

    &--create-game {
      background-color: rgba(colors.$green, 0.7);
    }

    &--app {
      background-color: rgba(colors.$primary, 0.7);
    }

    &--website {
      background-color: rgba(colors.$accent, 0.7);
    }
  }
}
