<div class="board-creator" *ngIf="state">
  <div class="board-creator__header">
    <mat-progress-bar
      class="board-creator__progress-bar"
      mode="determinate"
      [value]="progress"
      color="accent"
    ></mat-progress-bar>
    <img
      class="board-creator__logo"
      alt="lobogames logo"
      ngSrc="assets/logo.png"
      width="220"
      height="59"
    />
  </div>
  <div class="board-creator__body" [class]="enterAnimationClass">
    <image-upload-step
      *ngIf="state.isImageUploadState"
      [model]="state.model"
    ></image-upload-step>
    <position-creation-step
      *ngIf="state.isPositionCreationState"
      [model]="state.model"
    >
    </position-creation-step>
    <success-step
      *ngIf="state.isSuccessState"
      [model]="state.model"
    ></success-step>
  </div>

  <div class="board-creator__actions">
    <button mat-raised-button (click)="onReject()">Voltar</button>
    <button
      mat-raised-button
      color="accent"
      (click)="onAccept()"
      [disabled]="!isAcceptEnabled"
    >
      {{ acceptMessage }}
    </button>
  </div>
</div>
