@use "src/colors";

.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__body {
    display: flex;
    justify-content: center;
    padding: 2rem;
    flex: 1;
  }

  &__image {
    margin-left: 2.5rem;

    &-card {
      padding: 2rem;
      height: fit-content;
      background-color: colors.$primary-background;
    }
  }
}
