@use "src/colors";

.app {
  height: 100%;
  width: 100%;
  background: colors.$primary-background;
  display: flex;
  flex-direction: column;

  &__body {
    display: flex;
    justify-content: center;
    padding: 2.5rem;
    flex: 1;
  }

  &__image {
    margin-left: 2.5rem;
  }
}
