<div class="app">
  <lobogames-toolbar
    (onMenuActionRequested)="onMenuClicked()"
  ></lobogames-toolbar>
  <mat-drawer-container class="app__sidenav-container">
    <mat-drawer class="app__sidenav" mode="side" [opened]="isSidenavOpen">
      <mat-nav-list>
        <mat-divider></mat-divider>
        <div class="app__sidenav__item" (click)="onGameCreatorClicked()">
          <mat-icon>home</mat-icon>
          <span>Criador de Jogos</span>
        </div>
        <mat-divider></mat-divider>
        <div class="app__sidenav__item" (click)="onAppClicked()">
          <mat-icon>phone_android</mat-icon>
          <span>Aplicativo</span>
        </div>
        <mat-divider></mat-divider>
        <div class="app__sidenav__item" (click)="onWebsiteClicked()">
          <mat-icon>open_in_new</mat-icon>
          <span>Website</span>
        </div>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="app__body">
      <div class="app__image-container">
        <mat-card class="app__image-card">
          <img
            class="app__image"
            alt="lobogames logo"
            [ngSrc]="logoUrl"
            width="516"
            height="140"
          />
        </mat-card>
      </div>
      <div class="app__options-container">
        <mat-card
          class="app__option app__option--create-game"
          (click)="onGameCreatorClicked()"
        >
          <mat-icon svgIcon="board_piece"></mat-icon>
          <span>Criador de Jogos</span>
        </mat-card>
        <mat-card class="app__option app__option--app" (click)="onAppClicked()">
          <mat-icon>phone_android</mat-icon>
          <span>Aplicativo</span>
        </mat-card>
        <mat-card
          class="app__option app__option--about-us"
          (click)="onWebsiteClicked()"
        >
          <mat-icon>open_in_new</mat-icon>
          <span>Website</span>
        </mat-card>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
