<div class="app">
  <lobogames-toolbar
    (onMenuActionRequested)="onMenuClicked()"
  ></lobogames-toolbar>
  <mat-drawer-container class="app__sidenav-container">
    <mat-drawer class="app__sidenav" mode="side" [opened]="isSidenavOpen">
      <mat-nav-list>
        <mat-divider></mat-divider>
        <div class="app__sidenav__item" (click)="onGameCreatorClicked()">
          <mat-icon>home</mat-icon>
          <span>Criador de Jogos</span>
        </div>
        <mat-divider></mat-divider>
        <div class="app__sidenav__item" (click)="onAppClicked()">
          <mat-icon>phone_android</mat-icon>
          <span>Aplicativo</span>
        </div>
        <mat-divider></mat-divider>
        <div class="app__sidenav__item" (click)="onWebsiteClicked()">
          <mat-icon>open_in_new</mat-icon>
          <span>Website</span>
        </div>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-drawer>
    <router-outlet></router-outlet>
  </mat-drawer-container>
</div>
