// palette
$primary: #9c27b0;
$accent: #ff5722;
$green: #4caf50;

// lobogames
$lobogames-white: #fefefe;
$lobogames-black: #000000;
$lobogames-red: #ff0000;
$lobogames-green: #00ff00;
$lobogames-dark-blue: #0000ff;
$lobogames-light-blue: #00ffff;
$lobogames-yellow: #ffff00;
$lobogames-pink: #ff00ff;
