// palette
$primary: #9c27b0;
$accent: #ff5722;
$green: #4caf50;

// loboards
$loboards-white: #fefefe;
$loboards-black: #000000;
$loboards-red: #ff0000;
$loboards-green: #00ff00;
$loboards-dark-blue: #0000ff;
$loboards-light-blue: #00ffff;
$loboards-yellow: #ffff00;
$loboards-pink: #ff00ff;
